.ml-20 {
  margin-left: 20px;
}

div.board-field {
  margin: 0 auto;
  width: 800px;
}

div.game-field-line-left {
  width: 400px;
  float: right;
}
div.modal-field-first{
    background-color: #b4b4b4
}

div.modal-field-last{
    background-color: #b4b4b4
}
div.modal-field {
    float: left;
    border: 1px solid orange;
    width: 30px;
    height: 30px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
    color: #006400;
}
div.modal-field-left {
    float: left;
    border: 1px solid orange;
    width: 30px;
    height: 30px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
    color: #006400;
}
div.modal-field-right {
    float: left;
    border: 1px solid orange;
    width: 30px;
    height: 30px;
    margin: 2px;
    text-align: center;
    font-weight: bold;
    color: #006400;
}

div.modal-container {
  align-items: center;
  width: 400px;
  justify-content: center;
}
div.modal-block {
    display: flex;
}
div.modal-field-line {
  display: flex;
}
div.one-symbol-block {
  display: block;
  width: 50px;
  height: 50px;
}

div.one-symbol-enabled-block-left {
  display: block;
  width: 50px;
  height: 50px;
  float: right;
}

div.one-symbol-enabled-block {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 2px;
  background-color: white;
}
div.word-block {
  height: 75px;
  width: 75px;
  font-size: 50px;
  text-align: center;
  padding-left: 0px;
  color: rgb(84, 84, 84);
  border: none;
  border-radius: 5px;
  vertical-align: middle;
}

div.one-symbol-input input {
  border: 0px;
}

div.game-field {
  display: block;
  background-color: #ff9248;
}

div.game-field-line {
  display: flex;
}

.simpleInput {
  height: 48px;
  width: 48px;
  font-size: 38px;
  text-align: center;
  padding-left: 0px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fcfcfc;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar {
    height: 60px;
    background-color: #fef7e5;
    position: relative;
}

.logo {
}

.menu-icon {
    display: none;
}

.nav-elements {
}

    .nav-elements ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

        .nav-elements ul li:not(:last-child) {
            margin-right: 60px;
        }

        .nav-elements ul a {
            font-size: 16px;
            font-weight: 400;
            color: #2f234f;
            text-decoration: none;
        }

            .nav-elements ul a.active {
                color: #574c4c;
                font-weight: 500;
                position: relative;
            }

                .nav-elements ul a.active::after {
                    content: '';
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #574c4c;
                }

@media (max-width: 768px) {
    .nav-elements ul li:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 600px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-elements {
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #fef7e5;
        width: 0px;
        height: calc(100vh - 60px);
        transition: all 0.3s ease-in;
        overflow: hidden;
    }

        .nav-elements.active {
            width: 270px;
        }

        .nav-elements ul {
            display: flex;
            flex-direction: column;
        }

            .nav-elements ul li {
                margin-right: unset;
                margin-top: 22px;
            }